spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/heydi
    username: postgres
    password: 020729
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        format_sql: true

server:
  port: 8080
