spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/postgres
    username: postgres
    password: 123456
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect

  session:
    timeout: 1800
    cookie:
      http-only: true
      secure: false
      same-site: lax
      name: JSESSIONID

  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB


  security:
    oauth2:
      client:
        registration:
        # 구글 아이디 및 시크릿 키
          google:
            client-id: 30085032642-7i83fsaok4fob32u0o4h194gjvqs7g64.apps.googleusercontent.com
            client-secret: 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
            redirect-uri: "{baseUrl}/login/oauth2/code/google"
            scope:
              - email
              - profile
          # 카카오 아이디 및 시크릿 키
          kakao:
            client-id: f3e7ad438cc70edc45f566705723840d
            client-secret: ptkgNDqUKNb4BRmniqIctHhKGVLhHvuo
            client-authentication-method: client_secret_post
            authorization-grant-type: authorization_code
            redirect-uri: "{baseUrl}/login/oauth2/code/kakao"
            scope:
              - profile_nickname
              - account_email
            client-name: Kakao

        provider:
          kakao:
            authorization-uri: https://kauth.kakao.com/oauth/authorize
            token-uri: https://kauth.kakao.com/oauth/token
            user-info-uri: https://kapi.kakao.com/v2/user/me
            user-name-attribute: id

server:
  port: 8080
  address: 0.0.0.0

aws:
  s3:
    bucket: heydi-dev-storage
    region: ap-southeast-2
    access-key: YOUR_AWS_ACCESS_KEY
    secret-key: YOUR_AWS_SECRET_KEY
    presigned:
      expire-seconds: 3600

app:
  frontend:
    base-url: http://localhost:5173
    oauth:
      success-redirect: /login/success
      failure-redirect: /login/failure